[defaults]
### General Settings ###
nocows = true
executable = /bin/bash
vault_password_file = ./vault-pass.key
# use YAML callback easier to read in cli
stdout_callback = yaml

### File/Directories
log_file = ~/.ansible/ansible.log
inventory = ./inventory.yaml
roles_path = ~/.ansible/roles:./roles
collections_path = ~/.ansible/collections
remote_tmp = /tmp/.ansible/tmp
local_tmp = ~/.ansible/tmp

# Fact Caching
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts_cache

### SSH ###
remote_port = 22
# short timeout intentionally for homelab useage
timeout = 5
# currently only made stuff for ubuntu so using ubuntu user
remote_user = ubuntu
scp_if_ssh = true
host_key_checking = false

[inventory]
unparsed_is_failed = true

[privilege_escalation]
become = false
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
scp_if_ssh = smart
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s
pipelining = true
control_path = %(directory)s/%%h-%%r
