---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux Kustomization
  - ./namespace.yaml
  - ./media-pvc.yaml
  # Flux Kustomization
  - ./ersatztv/ks.yaml
  - ./jellyfin/ks.yaml
  - ./jellyseerr/ks.yaml
  - ./prowlarr/ks.yaml
  - ./radarr/ks.yaml
  - ./radarr-uhd/ks.yaml
  - ./recyclarr/ks.yaml
  - ./sonarr/ks.yaml
  - ./sonarr-uhd/ks.yaml
  - ./unpackerr/ks.yaml
