---
apiVersion: v1
kind: Namespace
metadata:
  name: tigera-operator
kind: ConfigMap
apiVersion: v1
metadata:
  name: kubernetes-services-endpoint
  namespace: tigera-operator
data:
  KUBERNETES_SERVICE_HOST: "{{ k8s_cluster_endpoint }}"
  KUBERNETES_SERVICE_PORT: "{{ k8s_cluster_listen_port }}"
